**/target/
tmp/
modules/mmlc-lib/src/main/antlr4/*java
modules/mmlc-lib/src/main/antlr4/*interp
modules/mmlc-lib/src/main/antlr4/*.tokens
scripts
**/.metals
**/.bloop
**/.bsp
.antlr
.vscode
.idea
/project/metals.sbt
