**/target/
tmp/
modules/mmlc-lib/src/main/antlr4/*java
modules/mmlc-lib/src/main/antlr4/*interp
modules/mmlc-lib/src/main/antlr4/*.tokens
**/.metals
**/.bloop
**/.bsp
.antlr
.idea
/project/metals.sbt

/.vscode/extensions.json
out/
scratch
claude-memory.md
build
project/metals.sbt

project/project/metals.sbt

project/project/project/metals.sbt
.vscode
benchmark/bin
